@page "/"
@rendermode InteractiveServer
@inject DemoOne.Data.IRegistrationHandler RegistrationHandler

<PageTitle>Home</PageTitle>

<p>    
    <label>
        Register IP:
        <input @bind="InputValue" />        
    </label>   

    @if (!hideErrorMsg)
    {
        <span>
            IP already registered
        </span>
    }    
</p>


<p style="margin-top: 30px">
    <h5>Registrations:</h5>
    @if (!registrations.Any())
    {
        <div>There are no registrations</div>
    }
    else
    {
        <table cellpadding="5">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>Date added</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var (ip, time) in registrations)
                {
                    <tr>
                        <td>@ip</td>
                        <td>@time</td>
                        <td>
                            <button @onclick="x => RemoveRegistration(ip)">X</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }    
</p>

@code{
    
    private string? InputValue {
        get => string.Empty;
        set => AddRegistration(value);
    }

    private bool hideErrorMsg = true;

    private List<(string, DateTime)> registrations = new();

    private void AddRegistration(string? ip)
    {
        hideErrorMsg = true;

        if (string.IsNullOrEmpty(ip))
        {
            return;
        }

        if (!RegistrationHandler.AddRegistration(ip))
        {
            hideErrorMsg = false;
            return;
        }

        registrations = RegistrationHandler.GetRegistrations();
    }    

    private void RemoveRegistration(string ip)
    {
        RegistrationHandler.RemoveRegistration(ip);

        registrations = RegistrationHandler.GetRegistrations();
    }    
}